{{! Use BEM for css class naming. block__element--modifier }}
{{! Uses variables from CiStatus.kt }}
<h3 class="dashboard-id">{{config.displayName}}</h3>
<div id="content">
<div id="statuses" class="statuses">
  {{#each statuses}}
    <div class="status status--{{lastStatus}}" id="{{id}}"
    {{#if (isBuilding lastStatus)}}
      style="background-image: linear-gradient(to right, var(--build-progress-statusbar-color), var(--build-progress-statusbar-color) {{progressPercentage durationOfLastSuccess startedAt now}}%, transparent {{progressPercentage durationOfLastSuccess startedAt now}}%, transparent 100%)"
    {{/if}}
    >
      <div class="status__repo">
        <span class="status__repo-name">{{repo.name}}</span><br/><span
        class="status__repo-branch">{{branch}}</span><span class="status__repo-owner">{{repo.owner}} </span>
      </div>
      <span class="status__last-updated">{{capitalize lastStatus fully=true}} at <time>{{dateFormat lastUpdatedAt
                                                                                                    format="HH:mm dd/MMM"
                                                                                                    locale=config.locale
                                                                                                    tz=config.timezone}}</time></span>
      <div class="triggered-by status__triggered-by">
        <span class="triggered-by__label">Build triggered by</span> <span
        class="triggered-by__username">{{triggeredBy}}</span>
      </div>
      <div class="commit status__commit">
        <p class="commit__title">{{lastCommit.title}}</p>
        <span class="commit__sha">SHA: {{substring lastCommit.sha 0 6}}</span>
        <div class="commiter commit__commiter">
          <img src="{{lastCommit.commiter.avatarUrl}}" alt="Avatar" class="commiter__avatar">
          <span class="commiter__username">{{lastCommit.commiter.username}}</span>
        </div>
      </div>
    </div>
  {{else}}
    <span class="no-builds">No builds</span>
  {{/each}}
</div>
{{~#if failedBuilds}}
  <div id="failed-builds" class="failed-builds">
    <h2 class="failed-builds__title">All Failed Builds</h2>
    <ul class="failed-builds__list">
      {{#each failedBuilds}}
        <li class="failed-build failed-builds__failed-build"><span
          class="failed-build__repo">{{repo.name}}</span><span
          class="failed-build__commiter"> by {{lastCommit.commiter.username}}</span></li>
      {{/each}}
    </ul>
  </div>
{{/if}}
</div>
