{{! Use BEM for css class naming. block__element--modifier }}
{{#each statuses}}
  <div class="status status--{{lastStatus}}" id="{{id}}">
    <span class="status__repo-name">{{repo.name}}</span>
    <span class="status__repo-branch">{{branch}}</span>
    <span class="status__last-updated">{{lastUpdatedAt}}</span>
    <span class="status__triggered-by">{{triggeredBy}}</span>
    <div class="commit status__commit">
      <span class="commit__title">{{lastCommit.title}}</span>
      <span class="commit__sha">{{lastCommit.sha}}</span>
      <div class="commiter commit__commiter">
        <img src="{{lastCommit.commiter.avatarUrl}}" alt="Avatar" class="commiter__avatar">
        <span class="commiter__username">{{lastCommit.commiter.username}}</span>
      </div>
    </div>
  </div>
  {{else}}
  <span class="no-builds">No builds</span>
{{~/each}}
