<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

  <title>CI Dashboard</title>

  <script src="/webjars/htmx.org/2.0.1/dist/htmx.min.js"></script>
  <script src="/webjars/idiomorph/0.3.0/dist/idiomorph-ext.min.js"></script>

  <style>
    /* CSS Reset. */
    /* http://meyerweb.com/eric/tools/css/reset/
       v2.0 | 20110126
       License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }

    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
      display: block;
    }

    body {
      line-height: 1;
    }

    ol, ul {
      list-style: none;
    }

    blockquote, q {
      quotes: none;
    }

    blockquote:before, blockquote:after,
    q:before, q:after {
      content: '';
      content: none;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
    }
  </style>

  <style>
    /* Generic setup */

    @font-face {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      font-stretch: 100%;
      src: url('/Inter-Regular.ttf') format('truetype');
      unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    * {
      box-sizing: border-box;
    }

    /* Colors and sizes */

    :root {
      --page-background-color: #2d2c2c;
      --title-color-light: #eaeaea;
      --text-color-weak: #4e4e4e;

      --body-side-padding: 2em;

      --status-color-failed: hsl(0, 82.5%, 52.9%);
    }

    /* Outer elements */

    body {
      background-color: var(--page-background-color);
      width: 100vw;
      height: 100vh;
      padding: 1em var(--body-side-padding) 0 var(--body-side-padding);

      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "slnt" 0;

      overflow: hidden;
    }

    .title {
      font-size: 2em;
      margin-bottom: 1em;
      color: var(--title-color-light);
      text-align: center;
    }

    /* Grid container */

    #content {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-column-gap: 1em;

      width: 100%;
      height: 100%;
    }

    .statuses {
      width: 100%;
      height: 100%;

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(28em, 1fr));
      grid-column-gap: 1em;
      grid-row-gap: 1em;
      grid-auto-rows: min-content;
    }

    /* Status boxes */

    .status {
      display: inline-block;
      border-radius: 1em;
      border: 1px solid #000000;
      box-shadow: 2px 2px 6px #00000059;
      padding: 0.5em;

      min-width: 0;
      min-height: 0;
    }

    .status--SUCCEEDED {
      /* This funky green works even for color blind people.*/
      background-color: hsl(154.6, 76.4%, 44.9%);
    }

    .status--FAILED {
      background-color: var(--status-color-failed);
    }

    .status--IN_PROGRESS {
      background-color: hsl(201, 25%, 50%);

      transition: background-color 1s ease-in-out;
      -webkit-animation: pulse-background-inprogress 2s infinite; /* Safari 4+ */
      -moz-animation: pulse-background-inprogress 2s infinite; /* Fx 5+ */
      -o-animation: pulse-background-inprogress 2s infinite; /* Opera 12+ */
      animation: pulse-background-inprogress 2s infinite; /* IE 10+, Fx 29+ */
    }

    @-webkit-keyframes pulse-background-inprogress {
      0% {
        background-color: hsl(201, 25%, 50%);
      }
      50% {
        background-color: hsl(201, 40%, 70%);
      }
    }

    .status--QUEUED {
      background-color: hsl(201, 8%, 46%);

      transition: background-color 1s ease-in-out;
      -webkit-animation: pulse-background-queued 2s infinite; /* Safari 4+ */
      -moz-animation: pulse-background-queued 2s infinite; /* Fx 5+ */
      -o-animation: pulse-background-queued 2s infinite; /* Opera 12+ */
      animation: pulse-background-queued 2s infinite; /* IE 10+, Fx 29+ */
    }

    @-webkit-keyframes pulse-background-queued {
      0% {
        background-color: hsl(201, 8%, 46%);
      }
      50% {
        background-color: hsl(201, 8%, 56%);
      }
    }

    /*  Status contents */

    .status {
      display: grid;
      grid-template-areas:
        "title title"
        "commit commit"
        "updated triggered";
      grid-row-gap: 1em;
      grid-template-rows: 3em auto 1.5em;
    }

    .status__repo {
      grid-area: title;
    }

    .status__repo-name {
      font-size: 1.5em;
      font-weight: bold;
      line-height: 1.5em;
    }

    .status__repo-branch {
      color: var(--text-color-weak);
    }

    .status__repo-owner {
      color: var(--text-color-weak);
      float: right;
    }

    .status__last-updated {
      grid-area: updated;
      font-size: 0.9em;
      align-self: baseline;

      color: var(--text-color-weak);
    }

    .status__triggered-by {
      grid-area: triggered;
      font-size: 0.9em;
      align-self: baseline;
    }


    .status__commit {
      grid-area: commit;
    }

    /*  Commit info */
    .commit {
      display: grid;
      grid-template-areas:
        "commiter title"
        "commiter sha";
      grid-template-columns: 1fr 3fr;

      padding: 1em;
      grid-column-gap: 0.5em;

      background-color: rgba(234, 234, 234, 0.8);
      border-radius: 0.25em;
    }

    .commit__title {
      grid-area: title;

      border-radius: 0.5em 0.5em 0 0;
      font-size: 1.2em;
    }

    .commit__sha {
      grid-area: sha;
      font-size: 0.8em;
      color: var(--text-color-weak);


      /* Align to bottom of box: */
      margin-top: auto;
    }

    .commit__commiter {
      grid-area: commiter;
    }

    /* Commiter */

    .commiter {
      display: grid;
      grid-template-areas:
        "avatar"
        "username";

      justify-items: center;
      align-self: start;
    }

    .commiter__avatar {
      grid-area: avatar;
      width: 100%;
      object-fit: contain;
    }

    .commiter__username {
      grid-area: username;
      word-wrap: anywhere;
      margin-top: 4px;
    }

    /* Triggered by */

    .triggered-by {
      text-align: end;
    }

    .triggered-by__label {
      color: var(--text-color-weak);
    }

    .triggered-by__username {
      font-size: 1.2em;
    }

    /* All Failed Builds list */
    .failed-builds {
      background-color: var(--status-color-failed);
      padding: 1em;
      padding-top: 0.5em;
      border-top-left-radius: 1em;

      margin-right: calc(-1 * var(--body-side-padding));
    }

    .failed-builds__title {
      font-size: 2em;
      font-weight: bold;
      margin-bottom: 0.5em;
      text-align: center;
    }

    .failed-builds__list {
      line-height: 1.5em;
    }

    .failed-build__commiter {
      color: #393939;
      font-size: 0.8em;
    }

    .failed-build__repo {
      font-weight: bold;
    }
  </style>

</head>
<body>
<h1 class="title">GitHub Actions CI Dashboard</h1>

<span id="loading" class="htmx-indicator">...</span>
<div id="content"
     hx-get="{{pollUrl}}?id={{dashboardId}}&token={{secretToken}}&version={{version}}"
hx-trigger="load, every {{pollRateSeconds}}s"
hx-indicator="#loading"
hx-ext="morph"
hx-swap="morph:innerHTML"
>
<i id="first-load">Loading...</i>
</body>
</html>
